<h2>Log in page</h2>


<form method='POST' action="/user/login" enctype="application/x-www-form-urlencoded">
    <input name="username" placeholder="User Name">
    <input type="password"name="password" placeholder="Password">
    <button type="submit">LogIn</button>
</form>
