body {
    padding-left: 70px;
    padding-top: 20px;
    padding-right: 70px;
    background-attachment: fixed;
    // background-image: url('./css/images/52611458-hair-wallpaper.jpg');
    background-image: url('./css/images/wallpaper-1322878.jpg');
    background-size: cover;
}

body#home {
    // background-color: blue ;
    background-image: url('./css/images/52611458-hair-wallpaper.jpg') ;
}

.photo {
    // border: 10px solid blue;
    margin: auto;
    max-height: 350px
}
.column {
    // border: 10px solid blue;
    // float: left;
    padding: inherit;
    max-width: 50%;
    opacity: 0.8;
}
.date {
    padding-right: 70%;
}
.columnview {
    // border: 10px solid blue;
    opacity: 0.8;
    padding-top: 30px;
    padding-right: 70%;
}


@color-01: #444444;


body {
    color: @color-01;
    font-family: 'Muli';
}

.page {
    // border: 1px dotted red;
    margin: auto;
    max-width: 965px;
}

.row {
    // border: 5px dotted red;
    border-bottom: 5px solid @color-01;
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 30px;

    .column {
        // border: 1px dotted blue;
        box-sizing: border-box;
        float: left;
        min-height: 50px;
        width: 25%;

        .product {
            text-align: center;

            h3 {
                // border: 1px dotted red;
                font-size: 14px;
            }
            img {
                max-height: 125px;
            }
        }

        .info {
            h3 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

// -------------------------------------------------------
// Mobile Responsive Area



@large-size: 1024px;
@medium-size: 800px;
@small-size: 640px;

@media (max-width: @medium-size) {
    nav {
        // border: 5px solid red;
        padding: 10px;
        a {
            // border: 5px dotted red;
            float: none;
        }
    }
    .product {
        // border: 1px dotted red;
        img {
            width: 100%;
        }
    }

}


@media (max-width: @small-size) {
    .row {
        padding: 10px;
        .column {
            // border: 1px solid red;
            float: none;
            width: 100%;
            .product {
                // border: 1px dotted red;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}
body {
    color: @color-01;
    font-family: 'Muli';
}

.page {
    // border: 1px dotted red;
    margin: auto;
    max-width: 965px;
}

.row {
    // border: 5px dotted red;
    border-bottom: 5px solid @color-01;
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 30px;

    .column {
        // border: 1px dotted blue;
        box-sizing: border-box;
        float: left;
        min-height: 50px;
        width: 25%;

        .product {
            text-align: center;

            h3 {
                // border: 1px dotted red;
                font-size: 14px;
            }
            img {
                max-height: 125px;
            }
        }

        .info {
            h3 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

// -------------------------------------------------------
// Mobile Responsive Area



@large-size: 1024px;
@medium-size: 800px;
@small-size: 640px;

@media (max-width: @medium-size) {
    nav {
        // border: 5px solid red;
        padding: 10px;
        a {
            // border: 5px dotted red;
            float: none;
        }
    }
    .product {
        // border: 1px dotted red;
        img {
            width: 100%;
        }
    }

}


@media (max-width: @small-size) {
    .row {
        padding: 10px;
        .column {
            // border: 1px solid red;
            float: none;
            width: 100%;
            .product {
                // border: 1px dotted red;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}
