<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hair Salon</title>
        <!-- <link href="/lib/normalize-css/normalize.css" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" type="text/css">
        <link rel="stylesheet" href="/css/style.less" type="text/less">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css" rel="stylesheet" type="text/css">

        <script>
            less = {
                env: "development",
                async: false,
                fileAsync: false,
                poll: 1000,
                functions: {},
                dumpLineNumbers: "comments",
                relativeUrls: false,
                rootpath: "/"
            };
            </script>

        <script src="/lib/less/dist/less.js"></script>
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>

    </head>
    <body>
        <div class="ui inverted fixed menu">
            <a href="/"class="item">Home</a>
            <a href="/services"class="item">Services</a>
            <a href="/product"class="item">Products</a>

            {{#if user.admin }}
            <a href="/admin/#"class="item">Angular</a>
            <a href="/user" class="item">Users</a>
            {{/if }}
            {{#if user}}
            <a href="/calendar"class="item">Calendar</a>
            {{/if}}

            <div class="right menu">

                {{#if user}}
                <a href="/logout"class="item">Log Out</a>

                {{else}}
                <a href="/login"class="item">LogIn</a>
                <a href="/register"class="item">Register</a>
                {{/if}}

            </div>
        </div>

        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.js"></script>
        <script src="/js/jquery-sample.js"></script>
            <!-- NOTE:6 This is where and how you inject the body content -->
        {{{body}}}

    </body>
</html>
