<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hair Salon</title>
    </head>
    <body>
        <h2>Hair Salon</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/products">Products</a>
            <a href="/">calender</a>
            <a href="/login">Log In</a>



            <!-- NOTE:6 This is where and how you inject the body content -->
            {{{body}}}


        </nav>
    </body>
</html>
